.text-center {
  text-align: center !important;
}

.mb-sm {
  margin-bottom: 2rem !important;
}
.mb-md {
  margin-bottom: 4rem !important;
  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}
.mb-lg {
  margin-bottom: 8rem !important;
  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}
.mt-sm {
  margin-top: 2rem !important;
}
.mt-md {
  margin-top: 4rem !important;
}
.mt-lg {
  margin-top: 8rem !important;
}
.mt-xl {
  margin-top: 10rem !important;
}
.clearfix {
  clear: both;
}
